# 设置忽略文件
# 忽略所有以.a结尾的文件
.a
# 但是lib.a除外
!lib.a
# 仅仅忽略项目根目录下的TODO文件，不包括 subdir/TODO
/TODO
# 忽略build/目录下的所有文件
build/
# 忽略doc/notes.txt，但不包括doc/server/arch.txt
doc/*.txt
# 忽略所有的 .pdf 文件
*.pdf
# 忽略 doc/ 目录及其所有子目录下的 .html 文件
doc/**/*.html


/node_modules
/dist
/package-lock.json